.container{
    width: 100%;
    // max-width: 1080px;
    background: mediumpurple;
}

.dropdown{
    position: relative;
    display: inline-block;
    
}

.menu{
    background: darkgrey;
    padding: 1em 1em;
    cursor: pointer;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background: grey;
}

.dropdown:hover .dropdown-menu{
    display: block;
    // padding: 0,8em;
}

.lisub{
    list-style-type: none;
    color: aqua;
    width: 100px;
    padding-left: 0;
    margin: 0;
    text-align: center;
    border: 1px solid black;
}

.lisub > li + li {
    border: 1px solid black;
}

.lisub > li > a{
    display: block;
    padding: 1px solid black;
    color: azure;
    text-decoration: none;
}

.contact{
    background: darkgrey;
    position: relative;
    padding: 1em 1em;
}

.contact > a{
    text-decoration:none;
}

.about{
    background: darkgrey;
    position: relative;
    padding: 1em 1em;
}

.dropdown-about{
    display: none;
    position: absolute;
    background: grey;
}

.dropdown:hover .dropdown-about{
    display: block;
}