@import "./partials/card/card.scss";

@font-face{
    src: url();
    font-family: "BlaBla";
}

body * {
    outline: 1px solid red;
}

html, body{
    height: 100% ;
    padding: 0;
    margin: 0;
    font-family: "BlaBla";
}
.container {
    height: 100%;
}
 .block1, .block2{
    width: 200px;
    height: 100%;
    float: left;
 }
.block1 {
    background: green;
    float: left;
}

.block2 {
    background: blue;
    float: right;
}

.header::before {
    content: "befor";
    height: 30px;
    display: block;
    outline: 1px solid red;
    background: blue;
}

.header::after {
    content: "after";
    height: 30px;
    display: block;
    outline: 1px solid red;
    background: red;
}

.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.main{
    background-color: orange;
    max-width: 100%;
}

.cards{
    display: flex;
}